@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 
  'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
  'Cantarell', 'Open Sans', 'Helvetica Neue', 
  sans-serif;
}

.logo h2 {
  font-family: 'Hanalei Fill', cursive;
}

/* Showcase */
.showcase {
  height: 100vh;
  background: url('./assets/profile.jpg') no-repeat center/cover;
}

.showcase .overlay {
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
}

/*FOOTER*/
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 100% !important;
  /* height: 100% !important; */
  /* margin: 0px !important; */
  /* padding: 0px !important; */
  overflow-x: hidden; 
}

.react-footer {
  text-align: center;
}

.react-footer h3 {
  font-size: 1.2rem !important;
}

.react-footer img {

  transition: all 0.3s ease;
  position: relative;
}

.react-footer img:hover {
  width: 2rem;
}

/* ******************* About Me ******************* */
.about-me {
  color: var(--primary-white);
  background-color: var(--secondary-black);
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 4rem;
  padding-bottom: 4rem;
  max-width: 100% !important;
  /* height: 100% !important; */
  /* margin: 0px !important; */
  /* padding: 0px !important; */
  overflow-x: hidden; 
}

.about-me a img {
  width: 4rem;
  transition: all 0.3s ease;
  position: relative;
  height: 4.12rem !important;
}

.about-me a img:hover {
  width: 4.8rem;
  height: 4.6rem !important;
}


.aboutMe-title {
  font-family: 'Russo One', sans-serif;
}

.profile-picture {
  width: 30rem;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.125rem #23292E;
}

/* For different mobile Responsiveness */
@media (max-width: 768px) {
  .profile-picture {
    width: 20rem;
  }
  .about-me a img {
    width: 2rem;
    height: 2.2rem !important;
    transition: all 0.3s ease;
    position: relative;
  }
  
  .about-me a img:hover {
    width: 2.3rem;
    height: 2.5rem !important;
  }
}

@media (max-width: 992px) {
  .profile-picture {
    width: 40rem;
  }
}

@media (max-width: 768px) {
  .profile-picture {
    width: 30rem;
  }
}

@media (max-width: 525px) {
  .profile-picture {
    width: 25rem;
  }
}

@media (max-width: 499px) {
  .profile-picture {
    width: 15rem;
  }
}

/* -------- Font -------- */

@media (max-width: 768px) {
  .about-me-text {
    font-size: 0.85rem !important;
  }
}